.video-card {
    height: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin: 1rem 1rem;
    position: relative;
    box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}
.set-width {
    min-width: 290px;
    max-width: 340px;
}
.video-card:hover .video-card-img {
    scale: 1.08;
    border-radius: 0;
}
.video-thumbnail {
    flex: 1;
    width: 100%;
    overflow: hidden;
}
.video-card-img {
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 220px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    transition: all 0.4s;
    scale: 1.005;
}
.video-card-details {
    background: var(--card-color-bg);
    padding: 0.7rem 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.video-card-title {
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.video-card-title p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1.5rem;
    font-weight: 500;
    flex: 1;
    color: var(--black-color);
}
.video-card-title i {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
}
.video-card-title i:hover,
.video-card-title i:active {
    background: rgb(223, 223, 223);
}

.video-card-about {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-top: 0.7rem;
}
.channel.channel-sm {
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    max-width: 50%;
    padding: 0;
}

.close-btn2 {
    font-size: 1.4rem;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(224, 61, 33);
    position: absolute;
    right: -0.8rem;
    top: -1rem;
}
.channel .name {
    font-size: 0.9rem;
    padding-left: 0.5rem;
    color: var(--black-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.video-views {
    font-size: 0.9rem;
    color: var(--color-muted);
    text-align: right;
    min-width: 50%;
    flex: 1;
}

